@import "tailwindcss";

:root {
  --background: #005031;
  --foreground: #ffffff;
}

@theme {
  --font-rubik: var(--font-rubik);
  --font-opensans: var(--font-open-sans);

  /* New Green/Orange Theme */
  --color-dark: #005031;
  --color-card: #00442a;
  /* Slightly darker/different for contrast */
  --color-mesh: #0C9962;
  --color-primary: #0C9962;
  --color-secondary: #FF751F;
  --color-accent: #FF751F;
  --color-muted: #94a3b8;
  --color-border: #0C9962;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: var(--font-rubik);
  background-image:
    linear-gradient(rgba(0, 80, 49, 0.5), rgba(0, 80, 49, 0.7)),
    url('/background-img.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

/* Hide scrollbar utility */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}